<div class="landing-page-container">
    <div class="logo-container">
      <img src="/assets/TaskTrekkerLogo.png" alt="TaskTrekker Logo">
      <h1><span class="bold-letter">T</span>ask<span class="bold-letter">T</span>rekker</h1>
    </div>
    <div class="content-container">
      <div class="gif-container">
        <img src="/assets/Todo.gif" alt="Gif of a notebook">
      </div>
      <div class="action-container">
        <h1>The free, fun, and effective way to track your day!</h1>
        <div class="button-container">
          <button mat-raised-button color="primary" routerLink="/register">Get started</button>
          <button mat-raised-button color="accent" routerLink="/login">I already have an account</button>
        </div>
      </div>
    </div>
</div>