.logo-container>img {
    width: 200px;
    height: auto;
}

.bold-letter {
    font-weight: bold;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    width:45%;
    margin: auto;
    gap: 150px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.gif-container>img {
  height: 350px;
}

.action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.action-container>h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

button {
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
